#This workflow automatically takes my code, builds a docker image, and returns the date and time
#This is the name of the workflow - used under the Actions tab
name: Go Dockerimage Pipeline
#This is workflow name - will appear in the list of workflow runs
run-name: CI/CD Pipeline
#Trigger for the workflow - in otherwords, what causes the workflow to kick off
on:
  push:
    branches:
      - main
#Groups all jobs associated with this workflow together      
jobs:
  build:
    #Specifies the type of VM to create and what OS it runs. Docker is already installed
    runs-on: ubuntu-latest
    #Steps involved with the jobs the workflow runs
    steps:
      #Step1 - Checks out code
      - name: Checkout code
      #Most recent version of actions/checkout  - checksout repo to the runner
        uses: actions/checkout@v5

      #Step2 - Setups up Docker
      - name: Docker
        run: docker build -t gotime .

      #Step3 - Run your container
      - name: Run container and capture output
        run: docker run --rm gotime
