#This workflow automatically takes my code, builds a docker image, and returns the date and time, which can be validated in the logs
#This is the name of this workflow 
name: go-docker-gcp-gha-buildjob
#This is workflow name 
run-name: docker-go push to GCP
#Trigger for the workflow 
on:
  push:
    branches:
      - main
#Groups all jobs associated with this workflow together      
jobs:
  build:
    #Specifies the type of VM OS to run.
    runs-on: ubuntu-latest
    steps:
      #Step1 - Checks out the Go code
      - name: Checkout code
        uses: actions/checkout@v5

      #Step2 - Builds the Docker image with provided Go code
      - name: Docker
        run: docker build -t gotime:latest .

      #Step3 - Unit Test with tag
      - name: Run Docker container (test)
        run: docker run --rm gotime:latest
      
      #Step4 - Run the container then deletes it once the code has ran
      - name: Run container and capture output
        run: docker run --rm gotime:latest
      
      #Step5 - Authenticates to Google Cloud with the existing JSON key
      - name: Authenticate to Google Cloud using serviceaccount
        uses: google-github-actions/auth@v3
        with:
            credentials_json: '${{ secrets.GCP_SA_KEY }}'
      
      #Step6 - Configures Docker to access my GCP project
      - name: Configure Docker to access GCP 
        run: gcloud auth configure-docker us-west1-docker.pkg.dev

      #Step7 - Tags the container and pushes to the Artifact Repo in my GCP project
      - name: Tag docker image 
        run: docker tag gotime:latest us-west1-docker.pkg.dev/juta-0816/go-code/gotime:latest

      #Step8 - Pushes the container to Artifact Repo in GCP
      - name: Push to Artifact Registry
        run: docker push us-west1-docker.pkg.dev/juta-0816/go-code/gotime:latest
