#This workflow automatically takes my code, builds a docker image, and returns the date and time, which can be validated in the logs
#This is the name of this workflow 
name: Go Dockerimage Pipeline
#This is workflow name 
run-name: CI/CD Pipeline
#Trigger for the workflow 
on:
  push:
    branches:
      - main
#Groups all jobs associated with this workflow together      
jobs:
  build:
    #Specifies the type of VM OS to run.
    runs-on: ubuntu-latest
    steps:
      #Step1 - Checks out code
      - name: Checkout code
      #Most recent version of actions/checkout - checksout repo to the runner
        uses: actions/checkout@v5

      #Step2 - Builds the Docker image with provided code
      - name: Docker
        run: docker build -t gotime .

      #Step3 - Run the container then deletes it once the code has ran
      - name: Run container and capture output
        run: docker run --rm gotime
      
      #Step4 - Authenticates to Google Cloud with the existing JSON key
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
            credentials_json: '${{ secrets.GCP_SA_KEY }}'
      
      #Step5 - Configures Docker to access my GCP project
      - name: Configure Docker to access GCP project
        run: gcloud auth configure-docker us-west1-docker.pkg.dev

      #Step6 - Tags the container and pushes to the Artifact Repo in my GCP project
      - name: Push to Artifact Registry
        run: docker tag gotime us-west1-docker.pkg.dev/juta-0816/go-code/gotime:latest
             docker push us-west1-docker.pkg.dev/juta-0816/go-code/gotime:latest
